
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*interior pages*/

body {
    font-family: Arial, Helvetica, sans-serif
    margin: 0; 
    line-height: 1.6;
    padding: 0;
    color:black
    background-color: lightgray

}

.container {
    width: 90%;
    max-width: fit-content;
    margin: 0 auto;
    overflow: auto;
}
header {
    background-color: #2d5a27;
    color: white;
    text-align: center;
    padding: 20px;
    border: 2px solid #1e3d1a;
}

nav {
    background-color: #f4f4f4;
    border: 1px solid green;
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    color: #2d5a27;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    color: gold
}

.main-content {
    float: left;
    width: 70%;
    padding: 20px;
    background: #c8c5c5;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.sidebar {
    float: right;
    width: 25%;
    padding: 20px;
    background: #69d46c;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.sidebarimage .sidebar-text .sidebar-image-2 {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #fafafa;
}

.sidebarimage {
    position: relative;
}


sidebar-text {
    position: relative;
    left: -10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}